* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #f54e4e;
    --green : #4aec8c;
    --orange : #FF9874;
}

body {
    background-color: #352F44;
    color : #e4e4e4;
}

.main-container {
    min-height: 100vh; /* height : 100vh */
}

.timer-container {
    width : 225px;
    height: auto; /* Let the height adjust based on content */
}

.buttons-container {
    background-color: transparent;
    color : rgba(255, 255, 255, 0.8);
    border : 0;
    display : inline-block;
    width : 50px;
}

.buttons-container .MuiSvgIcon-root {
    font-size: 40px; 
}

.settingsButton-container {
    background-color: rgba(255,255,255,0.1);
    border-radius : 10px;
    
}

.settingsButton-container .MuiSvgIcon-root {
    font-size: 25px;
}

.settings-container {
    width: 100%;
}

.slider {
    height : 30px;
    border : 2px solid var(--red);
    border-radius : 20px;
    width: 50%;
    position: relative;
}

.thumb {
    background-color: var(--red);
    width : 30px;
    cursor : pointer;
    height : 30px;
    border-radius : 50%;
    position: absolute;
    top: 50%; /* Position it in the middle of the slider track */
    transform: translateY(-50%); /* Vertically center it */
}

.slider.green {
    height : 30px;
    border : 2px solid var(--green);
    border-radius : 20px;
    width: 50%;
    position: relative;
}

.slider.green .thumb {
    background-color: var(--green);
    width : 30px;
    cursor : pointer;
    height : 30px;
    border-radius : 50%;
    position: absolute;
    top: 50%; /* Position it in the middle of the slider track */
    transform: translateY(-50%); /* Vertically center it */
}

.slider.orange {
    height : 30px;
    border : 2px solid var(--orange);
    border-radius : 20px;
    width: 50%;
    position: relative;
}

.slider.orange .thumb {
    background-color: var(--orange);
    width : 30px;
    cursor : pointer;
    height : 30px;
    border-radius : 50%;
    position: absolute;
    top: 50%; /* Position it in the middle of the slider track */
    transform: translateY(-50%); /* Vertically center it */
}

