* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #f54e4e;
    --green : #4aec8c;
    --orange : #FF9874;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #352F44;
    color : #e4e4e4;
    margin: 0;
    padding: 0;
}

/* .main-container { */
    /* min-height: 100vh; height : 100vh */
/* } */

.timer-container {
    width : 225px;
    height: auto; /* Let the height adjust based on content */
    margin-top: 0px;
}

.buttons-container {
    background-color: transparent;
    color : rgba(255, 255, 255, 0.8);
    border : 0;
    display : inline-block;
    width : 50px;
}

.buttons-container .MuiSvgIcon-root {
    font-size: 40px; 
}

.settingsButton-container {
    background-color: rgba(255,255,255,0.1);
    border-radius : 10px;
    
}

.settingsButton-container .MuiSvgIcon-root {
    font-size: 25px;
}

.settings-container {
    width: 100%;
}

.slider {
    height : 30px;
    border : 2px solid var(--red);
    border-radius : 20px;
    width: 50%;
    position: relative;
}

.thumb {
    background-color: var(--red);
    width : 30px;
    cursor : pointer;
    height : 30px;
    border-radius : 50%;
    position: absolute;
    top: 50%; /* Position it in the middle of the slider track */
    transform: translateY(-50%); /* Vertically center it */
}

.slider.green {
    height : 30px;
    border : 2px solid var(--green);
    border-radius : 20px;
    width: 50%;
    position: relative;
}

.slider.green .thumb {
    background-color: var(--green);
    width : 30px;
    cursor : pointer;
    height : 30px;
    border-radius : 50%;
    position: absolute;
    top: 50%; /* Position it in the middle of the slider track */
    transform: translateY(-50%); /* Vertically center it */
}

.slider.orange {
    height : 30px;
    border : 2px solid var(--orange);
    border-radius : 20px;
    width: 50%;
    position: relative;
}

.slider.orange .thumb {
    background-color: var(--orange);
    width : 30px;
    cursor : pointer;
    height : 30px;
    border-radius : 50%;
    position: absolute;
    top: 50%; /* Position it in the middle of the slider track */
    transform: translateY(-50%); /* Vertically center it */
}

.input-input-container {
    background-color: transparent;
    border : none;
    outline : none;
    width : 300px;

    height: 40px;
    line-height: 40px;

    font-size: 10px; 
    color: rgba(255, 255, 255, 0.15);
}

.input-input-container::placeholder {
    font-size : 10px;
    text-align: center;
    caret-color: white;
    
    line-height: 40px;
    color: #9C92AC;
}

.input-input-container:focus {
    background-color: transparent; /* Prevents white background on focus */
    outline: none; /* Removes any browser-specific outline */
    box-shadow: none; /* Removes any focus shadow */
    caret-color: white;
    color : white;
    font-size: 10px;
}

.custom-dropdown-menu {
    left: -20px; /* Move the dropdown 20px to the left */
}

.title-note-container {
    width: 25%;
    max-width: 500px;
    font-size : 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.15);
}

.title-note-container::placeholder {
    font-size : 10px;
    text-align: center;
    caret-color: white;
    
    line-height: 40px;
    color: #9C92AC;
}

.title-note-container:focus {
    background-color: transparent; /* Prevents white background on focus */
    outline: none; /* Removes any browser-specific outline */
    box-shadow: none; /* Removes any focus shadow */
    caret-color: white;
    color : white;
    font-size: 10px;
}

.write-note-container {
     width: '25%'; 
     max-width: 500px; 
     font-size : 10px;
     border: none;
     outline: none;
     background-color: transparent;
     color: rgba(255, 255, 255, 0.15);
}

.write-note-container::placeholder {
    color: #9C92AC;  /* Change this to the desired placeholder color */
}

.write-note-container:focus {
    background-color: transparent; /* Prevents white background on focus */
    outline: none; /* Removes any browser-specific outline */
    box-shadow: none; /* Removes any focus shadow */
    caret-color: white;
    color : white;
    font-size: 10px;
}

.fab-note-container {
    margin-top: -15px;
    width: 20px;   
    height: 20px;
    min-height: 20px;
    padding: 2px;
    
}

.note {
    background: #5C5470;
    border-radius: 7px;
    box-shadow: 0 0px 5px #ccc;
    padding: 10px;
}